@import "navbar-theme.less";

@primary: #2c3e50;
@secondary: #d35400;
@font: #ecf0f1;

@background-color: #ecf0f1;

@footer-height: 100px;

.clearfix() {
	clear: both;
	content: ' ';
	display: block;
}

nav li:not(.active) > a, nav a {
	cursor: pointer;
}

nav li.active > a, nav .navbar-brand {
	cursor: default;
}

body {
	background: @background-color;
	position: relative;
	height: ~"calc(100% - @{footer-height})";
}

.navbar-dark {
	.custom-navbar(@primary, @secondary, @font);
}

.page-content {
	margin-top: 50px;
	padding-top: 20px;
	min-height: ~"calc(100% - 50px - @{footer-height})";
}

.about {
	width: 80%;
	margin: 20px auto;

	p {
		font-size: 18px;
	}
	
	.divider {
		margin: 25px 0 25px 0;
		background: @secondary;
		height: 2px;
		width: 100%;
	}
}

.tiles {
	.tile {
		float: left;

		div[data-role="tile"] {
			transition: all ease-in-out .5s;
			transform-style: preserve-3d;
		}

		div[data-tile="front"], div[data-tile="back"] {
			backface-visibility: hidden;
			position: relative;
		}

		div[data-tile="front"] {
			z-index: 2;
			transform: rotateY(0deg);
		}

		div[data-tile="back"] {
			z-index: 1;
			transform: rotateY(180deg);
			position: absolute;
			top: 0;
		}

		&:hover {
			div[data-role="tile"] {
				transform: rotateY(180deg);
			}
		}
	}

	&:after {
		.clearfix();
	}
}

.post-history {
	width: 300px;
	& > ul > li > a {
		border-right: 0 solid @primary;
	}
	& > ul > li.active > a {
		border-width: 2px;
	}
	ul {
		list-style: none;
		li {
			margin: 5px 0 10px 0;
			font-size: 18px;
			
			a {
				text-decoration: none;
				color: inherit;
				&:hover {
					color: @primary;
					cursor: pointer;
				}
				span {
					margin-right: 10px;
					transition: .5s ease-out;
				}
			}
			
			ul li {
				font-size: 16px;
				display: none;
				border-right: 0 solid @primary;
			}
			
			&.active, &:hover {
				a span {
					transform: rotate(180deg);
				}
				ul li {
					display: block;
				}
			}
			ul li.active {
				border-width: 2px;
			}
		}
	}
	&::after {
		.clearfix();
	}
}

.postfeed {
	padding-top: 50px;
}

.post {
	.post-header h2 {
		color: @primary;
		border-bottom: 2px solid @secondary;
	}
	.post-body p {
		font-size: 18px;
	}
	.post-footer h4 {
		display: inline-block;
		float: right;
	}
	&::after {
		.clearfix();
	}
}

.link-editor {
	.link-group {
		margin-top: 15px;
		padding-left: 25px;
		.form-group {
			margin-bottom: 15px;
		}
	}
}

.content-editor {
	table {
		width: 100%;
		border-collapse: separate;
		border-spacing: 10px;
	}
	th {
		text-align: center;
	}
}

footer {
	height: @footer-height;
	margin-top: @footer-height;
	position: relative;
	bottom: 0;
	width: 100%;
	clear: both;
	border: 0 solid @secondary;
	border-top-width: 2px;
	
	background-color: @primary;
	color: @font;
}
