.custom-navbar(@primary; @secondary; @font; @width: 2px) {
	background-color: @primary;
	border-color: @secondary;
	border-bottom-width: @width;
	
	.navbar-toggle {
		border-color: lighten(@primary, 6.25%);
		
		&:hover, &:focus {
			background-color: lighten(@primary, 6.25%);
		}
		
		.icon-bar {
			background-color: lighten(@font, 20%);
		}
	}
	
	.navbar-brand {
		color: @font;
	}
	
	.navbar-collapse, .navbar-form {
		border-color: @secondary;
	}
	
	.navbar-nav {
		li {
			&.active > a, &.open > a, & > a:hover {
				color: #fff;
				background-color: darken(@primary, 10%);
			}
			
			& > a {
				color: @font;
			}
		}
		.open .dropdown-menu {
			background-color: @primary;
		}
	}
	
	.nav > li > a:focus {
		background-color: darken(@primary, 6.25%);
	}
}
